<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Pick a planet:</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Planet Name</th>
                <th scope="col">$ of Earth Days of a Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="planet : ${planets}">
                <td th:type="text" th:value="${planet}" th:text="${planet.displayName}"></td>
                <td th:type="text" th:value="${planet}" th:text="${planet.yearLength}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>